@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Mulish', sans-serif;
  margin: 0;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button {
  cursor: pointer;
}